
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'poppins',sans-serif;
}


body{
    background:whitesmoke;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    text-align: center;
   

}
.btn {
    width: 20%;
    display:inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:rebeccapurple;
  }
  
  .hire-me p {
    padding: 30px 0px;
  }

  .hire-me {
    padding: 10px 5px;
   position: relative;
   justify-content: center;
   align-items: center;
 }

  .hire-me .tag{
    font-size: 20px;
    font-weight: 700;
    color:black;
  }

  .hire-me ul li h1{
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: red;
  }
  .hire-me ul li h3{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:black;
  }